/*General*/
.containerHome, .boxContainer, .atenienseContainer, .buttonsContainer{
    max-width: none !important;
    padding: 0 !important;
}
@media screen and (orientation:portrait) {
    .containerHome{
        width: 100%;
        height: 100%;
        display: grid !important;
        margin: 0;
        grid-template-rows: 10% 1fr;
        grid-template-columns: 100%;
    }
    .boxContainer{
        display: grid !important;
        grid-row: 2/3;
    }
    .atenienseContainer{
        display: block !important;
    }
    .buttonsContainer, .cardContentButtons2 {
        display: none !important;
    }
    
    @media screen and (min-width:768px) , screen and (min-height: 800px) {
        .containerHome{
            grid-template-rows: 15% 1fr;
        }
        .atenienseContainer{
            grid-column: 1/2;
            grid-row: 2/3;
            display: block !important;
        }
        .buttonsContainer{
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
    @media screen and (min-width:1024px){
        .boxContainer{
            grid-template-columns: 75% 25%;
            grid-template-rows: 100%;
        }
        .atenienseContainer{
            grid-column: 1/2;
            grid-row: 1/2;
            display: block !important;
        }
        .buttonsContainer{
            grid-column: 2/3;
            grid-row: 1/2;
            
        }
        .cardContentButtons2 {
            display: block !important;
        }
    }
}
@media screen and (orientation:landscape) {
    .containerHome{
        width: 100%;
        height: 100%;
        display: grid !important;
        margin: 0;
        grid-template-rows: 15% 1fr;
        grid-template-columns: 100%;
    }
    .boxContainer{
        display: grid !important;
        grid-row: 2/3;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
    }
    .atenienseContainer{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @media screen and (min-width:1024px){
        .boxContainer{
            grid-template-columns: 80% 20% !important;
        }
    }
}
