.boxateniense{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    background: #fff;
}
.headerAteniense{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.logoateninese{
    width: auto;
    height: 50%;
}
.containerBody{
    width: 90%;
    height: 100%;
    /* grid-column: 1/3; */
    /* grid-row: 1/3; */
    /* background: #fff; */
    /* overflow-y: scroll; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    background: #0c508f;
}
.containerBody1{
    width: 90%;
    margin-top: 5%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
    background: #fff;
    overflow-y: scroll;
    border-radius: 2em;
}
.adminAteniense{
    grid-column: 2/3;
    grid-row: 1/2;
}
.boxModalAteniense{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    background: #fff;
    border-radius: 1.5em;
}