.boxateniense{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    background: #fff;
    justify-content: center;
}
.headerAteniense{
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #fff;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
.logoateninese{
    width: auto;
    height: 50%;
}
.containerBody{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}
.containerBody1{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
    background: #fff;
    overflow-y: scroll;
}
.adminAteniense{
    grid-column: 2/3;
    grid-row: 1/2;
}
.boxModalAteniense{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    background: #fff;
    border-radius: 1.5em;
}