/*General*/
.containerButtons{
    height: 100%;
    display: flex !important;
    max-width: none !important;
    padding: 0 !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (orientation:portrait) {
    .containerButtons{
        flex-direction: column;
    }
    .cardContainerButtons1{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none !important;
        max-width: 300px;
        max-height: 300px;
        padding:5%;
    }
    .cardContentButtons1{
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 70% 30%;
        align-items: end;
        padding: 0 !important;
    }
    .descriptionButton{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .descriptionButton p{
        margin: 0;
        color: #616161;
        font-weight: bold;
    }
    .personButton{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 90%;
        width: 100%;
        border-radius: 1.2em;
    }
    .spaceAtenas{
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        height: 70%;
        border-radius: 1em !important;
        border: 2px solid #0c5091 !important;
        padding: 0 !important;
    }
    .link{
        width: 100%;
        height: auto;
        text-decoration: none;
    }
    .link p{
        margin: 0;
        font-size: 0.65em;
        font-weight: bold;
    }
    .cardContainerButtons3{
        width: auto;
        height: 40%;
        box-shadow: none !important;
        max-width: 400px;
    }
    .cardContentButtons3{
        padding: 0 !important;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardContentButtons3 p{
        margin: 0;
        width: auto;
        height: 10%;
        color: #616161;
        font-weight: bold;
        font-size: 18px;
    }
    .IconButton3{
        padding: 0 !important;
        width: 100%;
        height: 80%;
        border-radius: 1.2em !important;
        color: transparent !important;
        border: 1px solid #61616145 !important;
        max-width: 240px;
    }
    .imgButton3{
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width:768px), screen and (min-height: 800px) {
        .containerButtons{
            flex-direction: row-reverse;
        }
        .cardContainerButtons1{
            height: 100%;
            padding:0%;
            max-width: 325px;
            max-height: 325px;
        }
        .cardContainerButtons3{
            width: auto;
            height: 100%;
            box-shadow: none !important;
            max-width: 400px;
        }
        .cardContentButtons3{
            padding: 0 !important;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .cardContentButtons3 p{
            margin: 0;
            width: auto;
            height: 10%;
            color: #616161;
            font-weight: bold;
        
        }
        .IconButton3{
            padding: 0 !important;
            width: 100%;
            height: 80%;
            border-radius: 1.2em !important;
            color: transparent !important;
            border: 1px solid #61616145 !important;
            max-width: 195px;
        }
        .imgButton3{
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (orientation:landscape) {
    .cardContainerButtons1{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none !important;
        max-width: 300px;
        max-height: 300px;
        padding:5%;
    }
    .cardContentButtons1{
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 70% 30%;
        align-items: end;
        padding: 0 !important;
    }
    .descriptionButton{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .descriptionButton p{
        margin: 0;
        color: #616161;
        font-weight: bold;
    }
    .personButton{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 90%;
        width: 100%;
        border-radius: 1.2em;
    }
    .spaceAtenas{
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        height: 70%;
        border-radius: 1em !important;
        border: 2px solid #0c5091 !important;
        padding: 0 !important;
    }
    .link{
        width: 100%;
        height: auto;
        text-decoration: none;
    }
    .link p{
        margin: 0;
        font-size: 0.65em;
        font-weight: bold;
    }
    .cardContainerButtons3{
        width: auto;
        height: 40%;
        box-shadow: none !important;
        max-width: 400px;
    }
    .cardContentButtons3{
        padding: 0 !important;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardContentButtons3 p{
        margin: 0;
        width: auto;
        height: 10%;
        color: #616161;
        font-weight: bold;
        font-size: 18px;
    }
    .IconButton3{
        padding: 0 !important;
        width: 100%;
        height: 80%;
        border-radius: 1.2em !important;
        color: transparent !important;
        border: 1px solid #61616145 !important;
        max-width: 240px;
    }
    .imgButton3{
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width:1024px){
        .cardContainerButtons1{
            width: 85%;
            max-width: 330px;
            padding:0%;
        }
        .descriptionButton{
            height: 40%;
        }
        .spaceAtenas{
            max-width: 330px;
        }
        .link p{
            font-size: 18px;
        }
    }
    @media screen and (min-width:1500px) {
        .descriptionButton p{
            font-size: 20px;
        }
        .spaceAtenas{
            max-width: 330px;
        }
        .link p{
            font-size: 20px;
        }
        .cardContentButtons3 p{
            font-size: 22px;
        }
        .IconButton3{
            max-width: 300px;
        }
    }
}
    /* @media screen and (min-width:768px) { 
        .containerButtons{
            flex-direction: row-reverse;
        }
        .cardContainerButtons1{
            height: 100%;
            padding:0%;
            max-width: 325px;
            max-height: 325px;
        }
        .cardContainerButtons3{
            width: auto;
            height: 100%;
            box-shadow: none !important;
            max-width: 400px;
        }
        .cardContentButtons3{
            padding: 0 !important;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .cardContentButtons3 p{
            margin: 0;
            width: auto;
            height: 10%;
            color: #616161;
            font-weight: bold;
        
        }
        .IconButton3{
            padding: 0 !important;
            width: 100%;
            height: 80%;
            border-radius: 1.2em !important;
            color: transparent !important;
            border: 1px solid #61616145 !important;
            max-width: 195px;
        }
        .imgButton3{
            width: 100%;
            height: 100%;
        }
    }
}
/* 
.cardContentButtons1{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
    align-items: end;
    padding: 0 !important;
}
.descriptionButton{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.descriptionButton p{
    margin: 0;
    color: #616161;
    font-weight: bold;
}
.personButton{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 90%;
    width: 100%;
    border-radius: 1.2em;
}
.spaceAtenas{
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 70%;
    border-radius: 1em !important;
    border: 2px solid #0c5091 !important;
    padding: 0 !important;
}
.link{
    width: 100%;
    height: auto;
    text-decoration: none;
}
.link p{
    margin: 0;
    font-size: 0.65em;
    font-weight: bold;
}
.cardContentButtons3{
    padding: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardContentButtons3 p{
    margin: 0;
    width: auto;
    height: auto;
    color: #616161;
    font-weight: bold;

}
.IconButton3{
    padding: 0 !important;
    width: 65%;
    height: 85%;
    border-radius: 1.2em !important;
    color: transparent !important;
    border: 1px solid #61616145 !important;
}
.imgButton3{
    width: 100%;
    height: 100%;
}
 */
