.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../landing/images/background_intranet.png);
    background-size: cover ;
    background-repeat: no-repeat;
}
 .email, .password{
    height: auto;
    overflow: visible;
}
.adorment{
    height: 100%;
    width: auto;
}
.email div, .password div{
    width: 100%;
    height: 100%;
    background: #e6f4fe;
    overflow: visible;
}
.Form{
    align-items:center;
    justify-content:space-evenly;
    background: #fff;
    border-radius: 2.2em;
}
.logoAtenasLogin{
    width: auto;
    height: 20%;
}
@media screen and (orientation: portrait) {
    .card-login{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 750px;
        justify-content: space-around;
    }
    .Form{
        width:95%;
        height:60%;
    }
    .email, .password{
        width: 90%;
    }
    .button{
        width: 50%;
    }
    .icon{
        font-size: 25px !important;
    }
    .email label, .password label{
        color: #000 !important
    }
    .error{
        height: 15% !important;
        min-height: 60px;
    }
    .ModalRecovery{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .containerRecovery{
        background-image: url(../../landing/images/CuadroFondoBlanco.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50% !important;
        height: 45%;
        min-width: 310px;
        max-width: 500px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        max-height: 320px;
    }
    .boxRecovery{
        width: 80%;
        height: 90%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .logoLogin{
        width: 65%;
        height: auto;
        max-width: 210px;
        max-height: 90px;
    }
    .gruopCheked{
        flex-wrap: nowrap;
    }
    .gruopCheked label, .controlLabel span{
        font-size: 14px;
        color: #000;
    }

    @media screen and (min-width:500px) {
        .email div, .password div{
            font-size: 20px;
        }
        .email label, .password label{
            font-size: 20px;
        }
        .icon{
            font-size: 35px !important
        }
        .containerRecovery{
            min-width: 400px;
            min-height: 400px;
        }
        .gruopCheked label, .controlLabel span{
            font-size: 18px;
        }
    }
    @media screen and (min-width:768px) {
        .card-login{
            display: flex;
            width: 80%;
            height: 80%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .Form{
            width: 75%;
            height: 65%;
        }
        .email div, .password div{
            font-size: 22px;
        }
        .email label, .password label{
            font-size: 22px;
        }
        .icon{
            font-size: 35px !important
        }
        
        .button{
            width: 35%;
            height: 10%;
            border-radius: 1em !important;
            font-size: 22px !important;
        }
        .buttonRecovery{
            font-size: 22px !important;
        }
        .gruopCheked label, .controlLabel span{
            font-size: 20px;
        }
    }
    @media screen and (min-height: 1024px) {
        .containerRecovery{
            min-width: 500px;
            min-height: 500px;
        }
    }
}
@media screen and (orientation: landscape) {
    .card-login{
        display: flex;
        width: 80%;
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .Form{
        width: 60%;
        height: 60%;
        max-height: 450px;
    }
    .logoAtenasLogin {
        width: auto;
        height: 25%;
    }
    .email, .password{
        width: 75%;
    }
    .ModalRecovery{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .containerRecovery{
        background-image: url(../../landing/images/CuadroFondoBlanco.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50% !important;
        height: 60%;
        min-width: 500px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        max-height: 500px;
    }
    .boxRecovery{
        width: 73%;
        height: 95%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .logoLogin{
        width: 90%;
        height: auto;
        max-width: 287px;
    }
    .gruopCheked label, .controlLabel span{
        font-size: 14px;
        color: #000;
    }
    @media screen and (min-width:1024px) {
        .Form {
            width: 45%;
            height: 65%;
            max-width: 304px;
            max-height: 360px;
        }
        .email div, .password div{
            font-size: 14px !important;
        }
        .email label, .password label{
            font-size: 14px !important;
        }
        .icon{
            font-size: 25px !important;
        }
        .button{
            width: 35%;
            height: 10%;
            border-radius: 1em !important;
            font-size: 14px !important;
        }
        .buttonRecovery{
            font-size: 14px !important;
        }
        .boxRecovery .email{
            width:  70%;
        }
        .gruopCheked label, .controlLabel span{
            font-size: 14px;
        }
    }
    @media screen and (min-width:1500px) {
        .Form {
            width: 45%;
            height: 65%;
            max-width: 460px;
            max-height: 535px;
        }
        .email div, .password div{
            font-size: 22px !important;
        }
        .email label, .password label{
            font-size: 22px !important;
        }
        .icon{
            font-size: 30px !important;
        }
        .button{
            width: 35%;
            height: 10%;
            border-radius: 1em !important;
            font-size: 22px !important;
        }
        .buttonRecovery{
            font-size: 22px !important;
        }
        .boxRecovery .email{
            width:  90%;
        }
        .boxRecovery button{
            width: 35%;
            height: 10%;
        }
        .gruopCheked label, .controlLabel span{
            font-size: 20px;
        }
    }
}

/*
/* .email label, .email label{
    color: #000 !important
} */
/*.error{
    height: 15% !important;
}

.logoAtenasLogin{
    width: auto;
    height: 20%;
}
.button{
    background: #e6f4fe !important;
    color: #000 !important;
}
.ModalRecovery{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerRecovery{
    background-image: url(../../landing/images/CuadroFondoBlanco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 60%;
    min-width: 400px;
    max-width: 500px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}
.boxRecovery{
    width: 73%;
    height: 95%;
    min-width: 365px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.logoLogin{
    width: 90%;
    height: auto;
    max-width: 287px;
}*/
/* breackpoint movil */
/*@media screen and (max-width: 649px) {
    .card-login{
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        max-width: 500px;
        }
    .Form{
        width:95%;
        height:80%;
    }
    .email, .password{
        width: 90%;
    }
    .button{
        width: 50%;
    }
    /*Styles Recaptcha*/
/*    #rc-imageselect, .g-recaptcha {
        display: inline; 
    }
         
    #rc-imageselect{
        max-width: 100%;
    }
         
    .g-recaptcha>div>div{
        width: 100% !important;
        height: 78px;
        transform:scale(0.77); 
        --webkit-transform:scale(0.77);
        text-align: center;
        position: relative;
    }

}*/
/* breackpoint tablet */
/*@media screen and (min-width: 650px) and (max-width: 949px) {
    .card-login{
        width: 60%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        min-width: 630px;
        }
        .Form{
            width:95%;
            height:80%;
        }
        .email, .password{
            width: 90%;
        }
        .button{
            width: 50%;
        }
}*/
/* breackpoint desktop */
/*@media screen and (min-width: 950px) {
    .card-login{
    width: 40%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }
    .Form{
        width:70%;
        height:80%;
    }
    .email, .password{
        width: 70%;
        height: 10%;
        color: #000 !important;

    }
    .email div, .password div{
        width: 100%;
        height: 100%;
        background: #e6f4fe;
    }
    .button{
        width: 35%;
        background: #e6f4fe
    }
} */